* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 10px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 700;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    grid-gap: 17px;
}

.form--input {
    font-family: 'Karla', sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: 'Karla', sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711f8D 1.14%, #A818DA);
    color: white;
    border: none;
    cursor: pointer;
}

.meme {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.meme--image {
    display: block;
    max-width: 600px;
    margin: 20px
}

.meme--top, .meme--bottom {
    text-align: center;
    position: absolute;
    padding: 10px;
    color: white;
    font-size: 2rem;
    text-shadow: 
        1px 1px 2px black,
        -1px 1px 2px black,
        1px -1px 2px black,
        -1px -1px 2px black;
}

.meme--top {
    top: 0px;
}

.meme--bottom {
    bottom: 0px
}